@import '../../variables.css';

.setup-card {
  width: 11rem;
  height: 11rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--bg2-color);
  padding: 1rem;
  cursor: pointer;
  transition: ease-in-out .3s;
  gap: .5rem;
}

.setup-card:hover,
.setup-card:hover h4  {
  color: var(--font2-color);
}

.setup-card img {
  height: 5rem;
}

.setup-card h4 {
  color: var(--font-color);
  transition: ease-in-out .3s;
}

.img-contain {
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .setup-card {
    font-size: 1rem;
    flex-direction: column;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    padding-top: 1rem;
  }
}