@import '../../variables.css';

.setup-page section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.setup-page section .setup-area {
  display: flex;
  flex-direction: inherit;
  gap: 1rem;
}

.setup-area ul {
  margin-left: 3rem;
  list-style-type: square;
  line-height: 2rem;
}

.setup-area a {
  color: var(--font-color);
  transition: ease-in-out .3s;
}

.setup-area a:hover {
  color: var(--font2-color);
}