@import '../../variables.css';

.setup-page section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.setup-page section .setup-area {
  display: flex;
  flex-direction: inherit;
  gap: 1rem;
}

.setup-area a {
  color: var(--font-color);
  transition: ease-in-out .3s;
}

.setup-area a:hover {
  color: var(--font2-color);
}

.setup-holder {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0 1rem;
}

@media screen and (max-width: 768px) {
  .setup-holder {
    width: 100%;
    flex-direction: row;
    gap: 1rem;
  }

  .contact-card p {
    display: flex;
  }
}