@import '../../variables.css';

.setup-page section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.setup-page section .setup-area {
  display: flex;
  flex-direction: inherit;
  gap: 1rem;
}

.setup-area a {
  color: var(--font-color);
  transition: ease-in-out .3s;
}

.setup-area a:hover {
  color: var(--font2-color);
}

.setup-holder {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
} 

@media screen and (max-width: 768px) {
  .setup-holder {
    grid-template-columns: repeat(2, calc((100% - 1rem) / 2));
    aspect-ratio: 1 / 1;
  }

  .contact-card p {
    display: flex;
  }
}