@import '../../variables.css';

.contact-page section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .contact-page section {
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }
}