@import '../../variables.css';

.contact-page section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .contact-page section {
    grid-template-columns: 100%;
    gap: 1.5rem;
  }
}