@import '../../variables.css';

/* .home-page {

} */

.home-page div {
  margin: 30vh 0 40vh;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

#sub-title {
  color: var(--font2-color);
}

@media screen and (max-width: 768px) {
  .home-page div {
    margin: auto 0;
  }
}