@import '../../variables.css';

.header-bar {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--font-color);
  padding: 0 1rem;
  font-weight: 400;
}

.header-bar a:not(.not-active) {
  color: var(--font-color);
  transition: ease-in-out .3s;
  padding: .5rem .8rem;
}

.header-bar nav a:hover {
  color: var(--font2-color);
  background: var(--font3-color);
  border-radius: 5px;
}

.header-bar nav {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
}

.header-bar span.fix-size {
  visibility: hidden;
}

.header-bar span a {
  background: rgb(30,144,255);
  background: linear-gradient(37deg, rgba(30,144,255,1) 0%, rgba(227,216,241,1) 92%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.5rem;
  font-weight: bold;
  transition: filter .3s ease;
  filter: brightness(1);
}

.header-bar span a:hover {
  filter: brightness(0.7);
}

.button-mobile {
  display: none;
}

a.active {
  color: var(--font2-color);
  border-bottom: 1px solid var(--font2-color);
}

a.active.not-active {
  border: none;
}

@media screen and (max-width: 768px) {
  .header-bar {
    height: 4rem;
    padding: 0;
    justify-content: space-between;
  }
  
  span.fix-size {
    display: none;
  }

  nav {
    flex-direction: column;
    visibility: hidden;
  }

  .button-mobile {
    display: flex;
    align-items: center;
    height: 3.5rem;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
  }
  
  .hamburguer {
    display: block;
    width: 20px;
    border-top: 2px solid var(--blue-color);
    z-index: 9999;
  }
  
  .hamburguer::after, .hamburguer::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: var(--blue-color);
    margin-top: 5px;
    transition: .3s;
    position: relative;
  }
  
  .menu-mobile nav {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: fixed;
    height: 100vh;
    width: 0;
    top: 0;
    right: 0;
    padding-top: 4rem;
    padding: 4rem .5rem 0;
    background: var(--bg2-color);
    color: var(--font-color);
    z-index: 1000;
    transition: .9s;
    visibility: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  
  .menu-mobile.active nav {
    width: 50%;
    visibility: visible;
  }
  
  .menu-mobile.active .hamburguer {
    border-top-color: transparent;
  }
  
  .menu-mobile.active .hamburguer::before {
    transform: rotate(135deg);
  }
  
  .menu-mobile.active .hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}