@import '../../variables.css';

.footer-bar {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-bar nav {
  display: flex;
  gap: 1rem;
}

.footer-bar nav a {
  transition: ease-in .2s;
  display: flex;
  align-items: center;
  padding: .5rem;
  border-radius: 5px;
}

.footer-bar nav img {
  height: 1.3rem;
  transition: ease-in .1s;
}

.footer-bar nav a:hover {
  background: var(--font3-color);
}

@media screen and (max-width: 768px) {
  .footer-bar {
    height: 4rem;
    color: var(--font2-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-bar nav {
    display: flex;
    flex-direction: row;
  }

  .footer-bar nav a span {
    display: none;
  }
  
  .footer-bar nav a img {
    visibility: visible;
    height: 1.3rem;
  }
}