@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@300;400;700&display=swap');

:root {
  --bg-color: #040d0f;
  --bg2-color: #182022;
  --font-color: #888888;
  --font2-color: #f1f1f1;
  --font3-color: #8f9ba84d;
  --scrollbar-color: var(--font-color);
  --blue-color: #1e90ff;
}